In [35]:
import pandas as pd

### importing test_cricket.xlsx file and reading the sheet 'wickets' from there

In [36]:
# import the test_cricket.xlsx file in your jupyter notebook. Read the sheet 'wickets' from there

data=pd.read_excel('test_cricket.xlsx',sheet_name='wickets')

### Display the first 10 rows of the dataframe

In [37]:
# Display the first 10 rows of the dataframe

data.head(10)

,Player,Span,Mat,Inns,Balls,Runs,Wkts,BBI,BBM,Ave,Econ,SR,5,10
0,M Muralitharan (ICC/SL),1992-2010,133,230,44039,18180,800,1951-09-01 00:00:00,16/220,22.72,2.47,55.0,67,22
1,SK Warne (AUS),1992-2007,145,273,40705,17995,708,1971-08-01 00:00:00,12/128,25.41,2.65,57.4,37,10
2,A Kumble (INDIA),1990-2008,132,236,40850,18355,619,1974-10-01 00:00:00,14/149,29.65,2.69,65.9,35,8
3,JM Anderson (ENG),2003-2021,162,301,34791,16457,617,1942-07-01 00:00:00,1971-11-01 00:00:00,26.67,2.83,56.3,30,3
4,GD McGrath (AUS),1993-2007,124,243,29248,12186,563,2021-08-24 00:00:00,2021-10-27 00:00:00,21.64,2.49,51.9,29,3
5,SCJ Broad (ENG),2007-2021,148,272,29713,14502,523,2021-08-15 00:00:00,11/121,27.72,2.92,56.8,18,3
6,CA Walsh (WI),1984-2001,132,242,30019,12688,519,1937-07-01 00:00:00,13/55,24.44,2.53,57.8,22,3
7,DW Steyn (SA),2004-2019,93,171,18608,10077,439,1951-07-01 00:00:00,1960-11-01 00:00:00,22.95,3.24,42.3,26,5
8,N Kapil Dev (INDIA),1978-1994,131,227,27740,12867,434,1983-09-01 00:00:00,11/146,29.64,2.78,63.9,23,2
9,HMRKB Herath (SL),1999-2018,93,170,25993,12157,433,9/127,14/184,28.07,2.80,60.0,34,9

###  Create a markdown cell and explain the meaning of each column


- Player= Name of player and the team he played for

- Span= The period he played

- Mat= Total Matches played

- Inns= Number of Innings played

- Balls= No of Balls being Bowled

- Runs= Total runs scored

- Wkts= No of Wickets taken

- BBI= Best Bowling in an innings

- BBM= Best Bowling in a match

- Ave=Average run

- Econ= Economy 

- SR= Strike Rate

- 5= No of times 5 wickets being taken

- 10= No of times 10 wickets being taken

###  find the number of rows and columns in the dataframe

In [38]:
# find the number of rows and columns in the dataframe

print("number of rows",data.shape[0])
print("number of columns",data.shape[1])

number of rows 79
number of columns 14

###  find the data statistics and check for the data types

In [39]:
# find the data statistics and check for the data types
data.dtypes

Player     object
Span       object
Mat         int64
Inns        int64
Balls       int64
Runs        int64
Wkts        int64
BBI        object
BBM        object
Ave       float64
Econ      float64
SR        float64
5           int64
10          int64
dtype: object

In [40]:
data.describe()

,Mat,Inns,Balls,Runs,Wkts,Ave,Econ,SR,5,10
count,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000
mean,80.101266,144.797468,18630.303797,8595.506329,317.101266,27.466456,2.806582,59.187342,16.354430,2.797468
std,28.537692,51.042310,7190.036515,3080.256645,121.731587,3.657561,0.351666,9.349337,9.642372,3.235935
min,37.000000,67.000000,8785.000000,4846.000000,200.000000,20.940000,1.980000,41.200000,3.000000,0.000000
25%,60.500000,110.000000,13580.000000,6456.500000,229.000000,24.425000,2.600000,53.300000,9.500000,1.000000
50%,71.000000,129.000000,16498.000000,7742.000000,266.000000,28.000000,2.820000,57.400000,14.000000,2.000000
75%,93.000000,169.000000,21742.500000,9756.000000,374.500000,29.870000,3.080000,63.950000,20.500000,3.500000
max,166.000000,301.000000,44039.000000,18355.000000,800.000000,34.790000,3.460000,91.900000,67.000000,22.000000

###  Are there any missing values present in the dataset?

In [41]:
# Are there any missing values present in the dataset?
data.isna().sum()

Player    0
Span      0
Mat       0
Inns      0
Balls     0
Runs      0
Wkts      0
BBI       0
BBM       0
Ave       0
Econ      0
SR        0
5         0
10        0
dtype: int64

###  Rename the column names appropriately

In [42]:
# Rename the column names appropriately

data.rename(columns={'Player':'PlayerName','Span':'Career_Period','Mat':'Matches','Inns':'Innings','Wkts':
                    'Wickets','BBI':'Best_Bowling_in_an_innings','BBM':'Best_Bowl_in_a_match','Ave':'Average',
                    'Econ':'Economy','SR':'Strike_Rate',5:'no_of_5_wickets',10:'no_of_10_wickets'}
           ,inplace=True)

###  Remove a column from the dataframe

In [43]:
# Remove a column from the dataframe
data.drop(['PlayerName'],axis=1)

,Career_Period,Matches,Innings,Balls,Runs,Wickets,Best_Bowling_in_an_innings,Best_Bowl_in_a_match,Average,Economy,Strike_Rate,no_of_5_wickets,no_of_10_wickets
0,1992-2010,133,230,44039,18180,800,1951-09-01 00:00:00,16/220,22.72,2.47,55.0,67,22
1,1992-2007,145,273,40705,17995,708,1971-08-01 00:00:00,12/128,25.41,2.65,57.4,37,10
2,1990-2008,132,236,40850,18355,619,1974-10-01 00:00:00,14/149,29.65,2.69,65.9,35,8
3,2003-2021,162,301,34791,16457,617,1942-07-01 00:00:00,1971-11-01 00:00:00,26.67,2.83,56.3,30,3
4,1993-2007,124,243,29248,12186,563,2021-08-24 00:00:00,2021-10-27 00:00:00,21.64,2.49,51.9,29,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,1998-2008,44,85,11237,6038,208,8/108,12/107,29.02,3.22,54.0,12,2
75,1995-2004,49,86,14070,6206,208,8/164,10/155,29.83,2.64,67.6,13,3
76,1974-1983,47,90,11135,5174,202,1954-07-01 00:00:00,12/121,25.61,2.78,55.1,11,2
77,1965-1976,49,93,12021,5387,202,1940-07-01 00:00:00,10/142,26.66,2.68,59.5,8,1
78,1972-1985,51,90,10535,5601,200,1946-06-01 00:00:00,9/105,28.00,3.18,52.6,8,0

In [44]:
data.drop(['Best_Bowl_in_a_match','Best_Bowling_in_an_innings'],axis=1)

,PlayerName,Career_Period,Matches,Innings,Balls,Runs,Wickets,Average,Economy,Strike_Rate,no_of_5_wickets,no_of_10_wickets
0,M Muralitharan (ICC/SL),1992-2010,133,230,44039,18180,800,22.72,2.47,55.0,67,22
1,SK Warne (AUS),1992-2007,145,273,40705,17995,708,25.41,2.65,57.4,37,10
2,A Kumble (INDIA),1990-2008,132,236,40850,18355,619,29.65,2.69,65.9,35,8
3,JM Anderson (ENG),2003-2021,162,301,34791,16457,617,26.67,2.83,56.3,30,3
4,GD McGrath (AUS),1993-2007,124,243,29248,12186,563,21.64,2.49,51.9,29,3
...,...,...,...,...,...,...,...,...,...,...,...,...
74,SCG MacGill (AUS),1998-2008,44,85,11237,6038,208,29.02,3.22,54.0,12,2
75,Saqlain Mushtaq (PAK),1995-2004,49,86,14070,6206,208,29.83,2.64,67.6,13,3
76,AME Roberts (WI),1974-1983,47,90,11135,5174,202,25.61,2.78,55.1,11,2
77,JA Snow (ENG),1965-1976,49,93,12021,5387,202,26.66,2.68,59.5,8,1
78,JR Thomson (AUS),1972-1985,51,90,10535,5601,200,28.00,3.18,52.6,8,0

In [45]:
data['PlayerName']=data['PlayerName'].str.replace("(","1")
data['PlayerName']=data['PlayerName'].str.replace(")","")
var=data['PlayerName'].str.split("1",expand=True)
data=pd.concat([data,var],axis=1)
data=data.drop(['PlayerName'],axis=1)
data = data.rename(columns={0: 'Player',
                        1: 'Country'})
new_column_order=['Player', 'Country','Career_Period', 'Matches', 'Innings', 'Balls', 'Runs', 'Wickets',
       'Best_Bowling_in_an_innings', 'Best_Bowl_in_a_match', 'Average',
       'Economy', 'Strike_Rate', 'no_of_5_wickets', 'no_of_10_wickets']
data=data[new_column_order]

<ipython-input-45-265fa7cdfc17>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  data['PlayerName']=data['PlayerName'].str.replace("(","1")
<ipython-input-45-265fa7cdfc17>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  data['PlayerName']=data['PlayerName'].str.replace(")","")

In [46]:
#counting players played for ICC

In [47]:
def icc_check(var):
    if "ICC" in var:
        return True
    else:
        return False

In [48]:
data['Played_for_ICC']=data['Country'].apply(icc_check)

In [49]:
data['Played_for_ICC'].value_counts()[1]

5

In [50]:
#no of countries

In [51]:
data['Country']=data['Country'].str.replace('ICC/',"")
data['Country']=data['Country'].str.replace('/ICC',"")

In [52]:
len(data['Country'].unique())

10

In [53]:
#Name of player with the longest period played

In [54]:
var=data['Career_Period'].str.split('-',expand=True)
data=pd.concat([data,var],axis=1)
data=data.rename(columns={0:'Start',1:'End'})
new_column_order=['Player', 'Country', 'Career_Period','Start', 'End', 'Matches', 'Innings', 'Balls',
       'Runs', 'Wickets', 'Best_Bowling_in_an_innings', 'Best_Bowl_in_a_match',
       'Average', 'Economy', 'Strike_Rate', 'no_of_5_wickets',
       'no_of_10_wickets', 'Played_for_ICC']
data=data[new_column_order]

In [58]:
data['End'].unique()

array(['2010', '2007', '2008', '2021', '2001', '2019', '1994', '2018',
       '1990', '2015', '2002', '2000', '2009', '1992', '1991', '2003',
       '2014', '1984', '1976', '1965', '1982', '2013', '1996', '1979',
       '1987', '2006', '1964', '1971', '1955', '1974', '1960', '2020',
       '2004', '1936', '2005', '1983', '1985'], dtype=object)

In [59]:
data['End'].isnull().sum()

0

In [63]:
data["End"]=data["End"].astype(int)
data["Start"]=data["Start"].astype(int)

In [65]:
data['Total_Period']=data['End']-data['Start']

In [68]:
new_column_order=['Player', 'Country', 'Career_Period', 'Start', 'End','Total_Period', 'Matches',
       'Innings', 'Balls', 'Runs', 'Wickets', 'Best_Bowling_in_an_innings',
       'Best_Bowl_in_a_match', 'Average', 'Economy', 'Strike_Rate',
       'no_of_5_wickets', 'no_of_10_wickets', 'Played_for_ICC']
data=data[new_column_order]

In [69]:
print('unique values are: ',data['Total_Period'].unique())
print('no of null values for Total_Period: ',data['Total_Period'].isnull().sum())

unique values are:  [18 15 14 17 16 19 13 10 12 11 21  8  9  5  7 20  6]
no of null values for Total_Period:  0

In [82]:
print('Name of the Player played for the longest time: ',data[data['Total_Period']==data['Total_Period'].max()]['Player'])

Name of the Player played for the logest time:  21    Imran Khan
Name: Player, dtype: object

In [ ]:
### Name of the Player played for the shortest time

In [92]:
print('Name of the Player played for the shortest time: ',data[data['Total_Period']==data['Total_Period'].min()]['Player'])

Name of the Player played for the shortest time:  44    GP Swann
Name: Player, dtype: object

In [ ]:
### number of Australian Bowlers present

In [118]:
print('Number of Australian Player present: ',data['Country'].value_counts()['AUS'])

Number of Australian Player present:  18

In [ ]:
### Any Bangladeshi player present

In [117]:
print('Number of Bangladeshi Player present: ',data['Country'].value_counts()['BDESH'])

Number of Bangladeshi Player present:  1

In [ ]:
### Name of the player with lowest economy rate

In [140]:
print('Name of the Player with Lowest Economy rate: ',data[data['Economy']==data['Economy'].min()].Player)

Name of the Player with Lowest Economy rate:  32    LR Gibbs
Name: Player, dtype: object

In [ ]:
### Name of the player with lowest strike rate

In [142]:
print('Name of the Player with Lowest strike rate: ',data[data['Strike_Rate']==data['Strike_Rate'].min()].Player)

Name of the Player with Lowest strike rate:  71    K Rabada
Name: Player, dtype: object